@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-feature-settings: antialiased !important;  
    font-family: Roboto;
}

.content {
    max-width: 940px;
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%; 
    margin: 30px 0 0;   
}

header .options a {
    color: #111111;
    margin-left: 40px;
}