{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/modal-recipe.css">

{% endblock styles %}

{% block content %}
    <div class="content">
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>

            <div class="options">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <section id="hero">
            <div class="text">
                <h1>As melhores receitas</h1>
                <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </h4>
            </div>


            <div class="slider">
                <div class="img-box">
                {# imagem inicial #}
                    <img src="/assets/chef.png" alt="Chef">
                </div>

                {# botões de avançar e voltar #}
                <button class="btn">Prev</button>
                <button class="btn">Next</button>
            </div>

        </section>
        

        
        <section id="acessos">
            <h2>Mais acessadas</h2>
            <div class="cards">
                <div class="card shadow">
                    <img src="assets/asinhas.png" alt="Asas de frango" id="1">
                    <div class="card-text">
                        <h4>Triplo bacon burger</h4>
                        <p>Por
                            <span>Jorge Relato</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="assets/doce.png" alt="Docinhos pão-do-céu" id="2">
                    <div class="card-text">
                        <h4>Docinhos pão-do-céu</h4>
                        <p>Por
                            <span>Ricardo Golvea</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="assets/espaguete.png" alt="Espaguete ao alho" id="3">
                    <div class="card-text">
                        <h4>Espaguete ao alho</h4>
                        <p>Por
                            <span>Júlia Kinoto</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock content %}

{% block modal %}
    <div id="modal" class="hide">
        <div class="show">
            <div class="receita"></div>
            <p id="close">Fechar modal</p>
        </div>

    </div>
{% endblock modal %}

{% block scripts %}
    <script src="scripts/recipes-main.js"></script>
{% endblock scripts %}