{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/modal-recipe.css">
    <link rel="stylesheet" href="styles/carousel.css">
{% endblock styles %}

{% block content %}
    <div class="content">
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>

            <div class="options">
                <a href="/newrecipe">Enviar sua receita</a>
                <a href="/recipes">Receitas</a>
            </div>

            <div class="menu-section on">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <a href="/">PÁGINA INICIAL</a>
                        <li>
                            <a href="/newrecipe">SUA RECEITA</a>
                        </li>
                        <li>
                            <a href="/recipes">OUTRAS RECEITAS</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="hero">
            {# <div class="text">
                <h1>As melhores receitas</h1>
                <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </h4>
            </div> #}

            <div class="carousel">
                <button class="carousel_button carousel_button--left is-hidden">
                    <img src="/assets/arrow-left.svg" alt="arrow">
                </button>

                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <div class="carousel-text">
                                <h1>As melhores receitas</h1>
                                <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                                </h4>
                            </div>
                            <img class="carousel_images" src="/assets/doce.png" alt="">
                        </li>

                        <li class="carousel_slide">
                            <div class="carousel-text">
                                <h1>Olha aquiii aqui</h1>
                                <h4>Bolo de tanasdasdá com asdasdasdas fazer e pa</h4>
                            </div>
                            <img class="carousel_images" src="/assets/pizza.png" alt="">
                        </li>

                        <li class="carousel_slide">
                            <div class="carousel-text">
                                <h1>Legal mudou</h1>
                                <h4>Bolo de asdasdasdasdas sadasdasdas asdasd e pa</h4>
                            </div>
                            <img class="carousel_images" src="/assets/burger.png" alt="">
                        </li>
                    </ul>
                </div>

                <button class="carousel_button  carousel_button--right">
                    <img src="/assets/arrow-right.svg" alt="arrow">
                </button>

                <div class="carousel_nav">
                    <button class="carousel-indicator current-slide"></button>
                    <button class="carousel-indicator"></button>
                    <button class="carousel-indicator"></button>
                </div>
            </div>

        </section>

        <section id="acessos">
            <h2>Mais acessadas</h2>
            <div class="cards">
                <div class="card shadow">
                    <img src="assets/asinhas.png" alt="Asas de frango" id="1">
                    <div class="card-text">
                        <h4>Triplo bacon burger</h4>
                        <p>Por
                            <span>Jorge Relato</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="assets/doce.png" alt="Docinhos pão-do-céu" id="2">
                    <div class="card-text">
                        <h4>Docinhos pão-do-céu</h4>
                        <p>Por
                            <span>Ricardo Golvea</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

                <div class="card shadow">
                    <img src="assets/espaguete.png" alt="Espaguete ao alho" id="3">
                    <div class="card-text">
                        <h4>Espaguete ao alho</h4>
                        <p>Por
                            <span>Júlia Kinoto</span>
                        </p>
                    </div>

                    <div class="card-text-n hide">
                        <div class="top">
                            <span>
                                <img src="/assets/timer.svg" alt="Clock">
                                <h4>50 MIN</h4>
                            </span>
                            <span>
                                <img src="/assets/serving.svg" alt="Servings">
                                <h4>8 PORÇÕES</h4>
                            </span>
                        </div>

                        <a href="/recipes">VER RECEITA</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="scripts/menu.js"></script>
    <script src="scripts/recipes-main.js"></script>
    <script src="scripts/carousel.js"></script>
{% endblock scripts %}