{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/modal-recipe.css">
    <link rel="stylesheet" href="styles/carousel.css">
    <link rel="stylesheet" href="styles/main-responsive.css">
{% endblock styles %}

{% block content %}
    <div class="content on">
        

        <section id="hero">
            <div class="carousel">
                <button class="carousel_button carousel_button--left is-hidden">
                    <img src="/assets/arrow-left.svg" alt="arrow">
                </button>

                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <div class="carousel-text">
                                <h1>As melhores receitas</h1>
                                <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                                </h4>
                            </div>
                            <img class="carousel_images" src="/assets/doce.png" alt="">
                        </li>

                        <li class="carousel_slide">
                            <div class="carousel-text">
                                <h1>Pizza artesanal</h1>
                                <h4>Perfeita combinação com uma Brahma Extra Red Lager. Essa cerveja tem um leve aroma de caramelo.</h4>
                            </div>
                            <img class="carousel_images" src="/assets/pizza.png" alt="">
                        </li>

                        <li class="carousel_slide">
                            <div class="carousel-text">
                                <h1>Big Kahuna Burger</h1>
                                <h4>refeição icônica que aparece no filme "Pulp Fiction", dirigido pelo mestre Quentin Tarantino.</h4>
                            </div>
                            <img class="carousel_images" src="/assets/burger.png" alt="">
                        </li>
                    </ul>
                </div>

                <button class="carousel_button  carousel_button--right">
                    <img src="/assets/arrow-right.svg" alt="arrow">
                </button>

                <div class="carousel_nav">
                    <button class="carousel-indicator current-slide"></button>
                    <button class="carousel-indicator"></button>
                    <button class="carousel-indicator"></button>
                </div>
            </div>
        </section>



        <section id="acessos">
            <h2>Mais acessadas</h2>
            <div class="cards">

                {% for recipe in recipes %}
                    <div class="card shadow" id="{{ recipe.id }}">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" id="{{ recipe.id }}">
                        <div class="card-text">
                            <h4>{{ recipe.title }}</h4>
                            <p>Por
                                <span>{{ recipe.author }}</span>
                            </p>
                        </div>

                        <div class="card-text-n hide">
                            <div class="top">
                                <span>
                                    <img src="/assets/timer.svg" alt="Clock">
                                    <h4>50 MIN</h4>
                                </span>
                                <span>
                                    <img src="/assets/serving.svg" alt="Servings">
                                    <h4>6 PORÇÕES</h4>
                                </span>
                            </div>

                            <a href="/newrecipe">VER RECEITA</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="scripts/menu.js"></script>
    <script src="scripts/recipes-main.js"></script>
    <script src="scripts/carousel.js"></script>
{% endblock scripts %}