<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css">
       
       
        {% block styles %}{% endblock styles %}
         <link rel="stylesheet" href="styles/main-responsive.css">
          <link rel="stylesheet" href="styles/footer.css">

        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}

    </head>
    <body>
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>

            <div class="options">
                <a href="/your-recipe">Sua receita</a>
                <a href="/recipes">Receitas</a>
            </div>

            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <a href="/">PÁGINA INICIAL</a>
                        <li>
                            <a href="/your-recipe">SUA RECEITA</a>
                        </li>
                        <li>
                            <a href="/recipes">OUTRAS RECEITAS</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}
            
        {% endblock content %}

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>

        {% block modal %}
        {% endblock modal %}


        {% block scripts %}{% endblock scripts %}
         <script src="scripts/menu.js"></script>

    </body>
</html>