<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/main-responsive.css">
        {% block styles %}{% endblock styles %}

        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}

    </head>
    <body>
        {% block content %}{% endblock content %}

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}{% endblock scripts %}

    </body>
</html>