{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/newrecipecarousel.css">
{% endblock styles %}

{% block title %}
    <title>Sobre nós</title>
{% endblock title %}

{% block content %}
    <div class="content">
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
            <div class="options">
                <a href="/newrecipe">Sua receita</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <section id="about">

            <div class="carousel">
                <button class="carousel_button carousel_button--left">
                    <img src="/assets/arrow-right.svg" alt="Arrow left">
                </button>

                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <img class="carousel_images" src="/assets/01.jpg" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/02.jpg" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/03.jpg" alt="">
                        </li>
                    </ul>

                </div>

                <button class="carousel_button carousel_button--right">
                    <img src="/assets/arrow-left.svg" alt="Arrow left">
                </button>
            </div>

            <div class="topics">
                <h1>Paprika Schnitzel (ou Filé de Porco à Milanesa, né?)</h1>
                <p>Gouvs vai preparar uma receita com um nome difícil que vem lá da Alemanha, mas que todo mundo vai se deliciar e aprender pra fazer em casa. Mas além disso, vocês vão conhecer a nova e melhorada (ou plastificada) Cida. Quem aqui tá ansioso também?
                </p>

                <h4>INGREDIENTES</h4>
                <div class="ingredientes">
                    <div class="right">
                        <p>4 filés de lombo suíno<br></p>
                        
                        <p>Sal<br></p>
                        
                        <p>Pimenta-do-reino<br></p>
                        
                        <p>Suco de ½ limão <br></p>
                        <p>1 xícara de farinha de trigo<br></p>

                        <p>1 xícara de farinha de pão Azeite<br></p>
                        <p>2 ovos batidos</p>
                    </div>
                    <div class="left">
                        <p>1 cebola picada<br></p>
                        <p>2 colheres de sopa de farinha
                            <br></p>
                        <p>1 xícara de caldo de carne
                            <br></p>
                        <p>2 xícaras de creme de leite de lata suco de ½ limão
                            <br></p>
                        <p>½ colher de sopa de páprica doce
                            <br></p>
                        <p>½ colher de sopa de páprica picante Batata cozida para acompanhar</p>
                    </div>
                </div>

                <h4>INGREDIENTES</h4>
                <ul>
                    <li>Temperar os filés com sal, pimenta e suco de ½ limão.</li>
                    <li>Passar os filés pela farinha de trigo, em seguida pelo ovo e depois pela farinha de pão. Reservar.</li>
                    <li>Aquecer o óleo em uma frigideira.</li>
                    <li>Enquanto isso, em uma panela, dispor um fio de azeite e fritar a cebola até que esteja bem dourada.</li>
                    <li>Dispor a farinha e mexer por 2 minutos para cozinhar.</li>
                    <li>Acrescentar o caldo de carne e deixar engrossar.
                    </li>
                    <li>Em seguida, acrescentar o creme de leite, suco de ½ limão, sal, pimenta do reino e as pápricas e cozinhar por mais 2 minutos mexendo sempre para não ferver.</li>
                    <li>Bater o molho no liquidificador para ficar bem lisinho. Reservar.</li>
                    <li>Na frigideira com óleo quente, fritar os filés empanados até que fiquem bem dourados.</li>
                    <li>Servir os filés com o molho de páprica por cima, acompanhados da batata.</li>
                </ul>
            </div>
        </section>
    </section>

</div>
{% endblock content %}

{% block scripts %}
<script src="/scripts/recipecarousel.js"></script>
{% endblock scripts %}