{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/newrecipecarousel.css">
{% endblock styles %}

{% block title %}
    <title>Sobre nós</title>
{% endblock title %}

{% block content %}
    <div class="content">
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
            <div class="options">
                <a href="/newrecipe">Enviar sua receita</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <section id="about">

            <div class="carousel">
                <button class="carousel_button carousel_button--left">
                    <img src="/assets/arrow-right.svg" alt="Arrow left">
                </button>

                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <img class="carousel_images" src="/assets/doce.png" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/burger.png" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/lasanha.png" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/pizza.png" alt="">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_images" src="/assets/asinhas.png" alt="">
                        </li>
                    </ul>

                </div>

                <button class="carousel_button carousel_button--right">
                    <img src="/assets/arrow-left.svg" alt="Arrow left">
                </button>
            </div>

            <div class="topics">
                <h1>Sobre o Foodfy</h1>
                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel lacus a justo mollis luctus.
                </p>
            </div>
        </section>
    </section>

</div>
{% endblock content %}

{% block scripts %}
<script src="/scripts/recipecarousel.js"></script>
{% endblock scripts %}