{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/recipes.css">
    <link rel="stylesheet" href="styles/modal.css">

{% endblock styles %}

{% block title %}
    <title>Receitas</title>
{% endblock title %}

{% block content %}
    <div class="content">
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>

            <div class="options">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <section id="acessos">
            <div class="cards">
                <div class="card">
                    <img src="assets/asinhas.png" alt="Asas de frango">
                    <h4>Triplo bacon burger</h4>
                    <p>por <span>Jorge Relato</span></p>
                </div>

                <div class="card">
                    <img src="assets/doce.png" alt="Docinhos pão-do-céu">
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por <span>Ricardo Golvea</span></p>
                </div>

                <div class="card">
                    <img src="assets/espaguete.png" alt="Espaguete ao alho">
                    <h4>Espaguete ao alho</h4>
                    <p>por <span>Júlia Kinoto</span></p>
                </div>

                <div class="card">
                    <img src="assets/asinhas.png" alt="Asas de frango">
                    <h4>Triplo bacon burger</h4>
                    <p>por <span>Jorge Relato</span></p>
                </div>

                <div class="card">
                    <img src="assets/doce.png" alt="Docinhos pão-do-céu">
                    <h4>Docinhos pão-do-céu</h4>
                    <p>por <span>Ricardo Golvea</span></p>
                </div>

                <div class="card">
                    <img src="assets/espaguete.png" alt="Espaguete ao alho">
                    <h4>Espaguete ao alho</h4>
                    <p>por <span>Júlia Kinoto</span></p>
                </div>

            </div>
        </section>
    </div>
{% endblock content %}

{% block modal %}
    <div id="modal" class="hide">
        <div class="show">
            <div class="receita"></div>
            <p id="close">Fechar modal</p>
        </div>

    </div>
{% endblock modal %}

{% block scripts %}
    <script src="scripts/recipes.js"></script>
{% endblock scripts %}