{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/newrecipecarousel.css">

{% endblock styles %}

{% block title %}
    <title>Sobre nós</title>
{% endblock title %}

{% block content %}
    <div class="content">

        <section id="about">

            <div class="carousel">
                <button class="carousel_button carousel_button--left">
                    <img src="/assets/arrow-right.svg" alt="Arrow left">
                </button>

                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        {% for eae in recipes.image %}
                        <li class="carousel_slide current-slide">
                            <img class="carousel_images" src="{{ recipes.image }}" alt="">
                        </li>{% endfor %}
                    </ul>

                </div>

                <button class="carousel_button carousel_button--right">
                    <img src="/assets/arrow-left.svg" alt="Arrow left">
                </button>
            </div>

            <div class="topics">
                <h1>{{ recipes.title }}</h1>
                <p>{{ recipes.information }}
                </p>

                <h4>INGREDIENTES</h4>
                <div class="ingredientes">

                    <div class="left">
                        {% for ingredientes in recipes
                            .ingredients
                            .slice(0, 5) %}
                            <ul>
                                <li>{{ ingredientes }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="right">
                        {% for ingredientes in recipes
                            .ingredients
                            .slice(6, 10) %}
                            <ul>
                                <li>{{ ingredientes }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>

                <h4>PREPARAÇÃO</h4>
                {% for instructions in recipes.preparation %}
                    <ul>
                        <li>{{ instructions }}</li>
                    </ul>
                {% endfor %}

            </div>
        </section>
    </section>

</div>
{% endblock content %}

{% block scripts %}
<script src="/scripts/recipecarousel.js"></script>
{% endblock scripts %}