#about {
    margin: 50px 0 10px;
}

.topics h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 20px;
}


.topics h3 {    
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.topics p {
    color: #777777;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;

    margin: 10px 0 50px;
}

footer {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 62px;

    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #999999;
    background: #EEEEEE;
}