.carousel {
    position: relative;
    width: 100%;

    height: 366px;
    border-radius: 20px;
    margin: 0 auto;
}

.carousel_track-container {
    height: 100%;

    overflow: hidden;
}

.carousel_track h1,
.carousel_track h4 {
    color: #262626
}

.carousel_track {
    list-style-type: none;
    margin: 0;
    padding: 0;

    position: relative;
    height: 100%; 

    transition: transform 400ms ease;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-text {
    margin: 0 auto;
    text-align: center;
}

.carousel-text h4 {
    max-width: 300px;
}

.carousel_slide img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}

.carousel_button {    
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    border: none;

    cursor: pointer;
    background: #D54F44;
    padding: 5px;
}

.carousel_button img {
    height: 20px;
    
}

.carousel_button--left {
    left: -5%;
}

.carousel_button--right {
    left: 102%;
}

.carousel_nav {
    /* background: var(--main-color); */
    position: absolute;
    width: 50%;
    margin-left: 50%;
    bottom: 0;


    display: flex;
    justify-content: center;
}

.carousel-indicator {
    height: 10px;
    width: 10px;
    background: rgb(19, 18, 18, .5);
    border-radius: 50%;
    border: none;
    margin: 0 15px 10px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgb(19, 18, 18, 1);
}

/* .is-hidden {
    display: none;
} */