 body {
     height: 100vh;
 }
 
 footer {
     margin-top: auto;

     display: flex;
     align-items: center;
     justify-content: center;
 
     height: 62px;    
 

     font-size: 1.4rem;
     line-height: 2.4rem;
     color: #999999;
     background: #EEEEEE;
 }