#hero {
    width: 100%;
    background: #FBDFDB url('/assets/chef.png') no-repeat 50vw;
    height: 366px;
    border-radius: 30px;

    display: flex;
    margin: 50px 0;
}

#hero .text {
    max-width: 316px;
    height: 150px;
    margin: auto 80px;
}

#hero h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}


#hero h4 {
    opacity: 70%;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

#acessos h2 {
    margin: 20px 0;
    font-weight: 24px;
    line-height: 34px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    
}

.card {
    background: #f5e1df;
    border-radius: 16px;
    text-align: center;
}

.card {
    
}

.card img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}

.card h4 {
    
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    
}

.card p span  {
    color: #D54F44;
}

.card p {
    color: #777777;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
}

.cards p {
    margin-bottom: 20px;
}
