@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet';

:root {
    --main-color: #D54F44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

a {
    text-decoration: none;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
    font-family: Roboto;
    height: 100vh;
    position: relative;
    font-size: 1.6rem;
}

.content {
    max-width: 940px;
    width: 90%;
    margin: 0 auto;    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%; 
    margin: 30px 0 0; 
    
    font-family: Montserrat;
}

header .options a {
    color: #111111;
    margin-left: 40px;
}