@media (max-width: 900px) {
    header {
        width: 70%; 
    }
    #hero .text {
        margin: auto 30px;
    }
    .carousel_slide {    
        flex-direction: column-reverse;
        border-radius: 20px 20px 0 0;
    }
    .carousel_slide img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .carousel_track h1 {
        margin: 40px auto 0;
    }
    .carousel_track h4 {
        margin: 0 auto 50px;
    }
    .carousel_track h1,
    .carousel_track h4 {
        max-width: 70%;
    }
}

@media (max-width: 600px) {
    header {
        width: 90%;
    }
    .carousel_track h1 {
        margin: 30px auto 0;
    }
    .carousel_track h4 {
        margin: 0 auto 40px;
    }
    .carousel_track h1,
    .carousel_track h4 {
        max-width: 90%;
    }
}

@media (max-width: 475px) {
    header {
        width: 100%;
    } 
    #hero .text {
        max-width: 450px;
    }
    #hero h1 {
        font-size: 42px;
        line-height: 52px;
        margin-bottom: 30px;
        text-align: center;
    }    
    
    #hero h4 {
        opacity: 70%;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

    }     
}
