@media (max-width: 900px) {
    header {
        width: 70%; 
    }
    #hero .text {
        margin: auto 30px;
    }
    
}

@media (max-width: 830px) {
    #hero h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        margin-bottom: 20px;
    }    
    
    #hero h4 {
        font-size: 1.4rem;
        line-height: 2.4rem;
    } 
}

@media (max-width: 768px) {
    header {
        width: 90%;
    }
    
    .carousel_slide {    
        flex-direction: column-reverse;
        border-radius: 20px 20px 0 0;
    }
    .carousel_slide img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .carousel_track h1 {
        margin: 40px auto 0;
    }
    .carousel_track h4 {
        margin: 0 auto 50px;
    }
    .carousel_track h1,
    .carousel_track h4 {
        max-width: 70%;
    }
}

@media (max-width: 540px) {
    header {
        width: 100%;        
    }
    .options {
        display: none;
    }
    .menu-toggle {
        width: 40px;
        margin-right: 20px;        
    }
    .one,
    .two,
    .three {
        height: 3px;
        width: 100%;
        background: #000000;
        margin: 6px auto;
        
        transition: 300ms ease;
    }
    header.on {
        margin: 0;
    }
    content.on {
        margin: 0;
    }
    .menu-section.on {
        position: absolute;
        background: var(--main-color);
        height: 100vh;
        width: 100vw;
        right: 0;
        top: 0;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 31px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(4px, 5px);
    }
    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(7px, -10px);
    }
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on nav ul {
        list-style: none;
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
    }
    .menu-section.on nav ul li {
        margin-top: 50px;
    }
}

@media (max-width: 481px) {
    header {
        width: 100%;
    } 
    #hero .text {
        max-width: 450px;
    }
    #hero h1 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        margin-bottom: 20px;
    }    
    
    #hero h4 {
        font-size: 1.6rem;
        line-height: 2.4rem;

    }  
    .carousel_track h1 {
        margin: 30px auto 0;
    }
    .carousel_track h4 {
        margin: 0 auto 40px;
    }
    .carousel_track h1,
    .carousel_track h4 {
        max-width: 90%;
    }   
}

@media (max-width: 481px) {
    #hero .text {
        max-width: 350px;
    }
    #hero h1 {
        font-size: 2.8rem;
        line-height: 3.4rem;
        margin-bottom: 10px;
    }    
    
    #hero h4 {
        font-size: 1.4rem;
        line-height: 2.2rem;

    } 
}
