#modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);

    position: fixed;
    top: 0;

    text-align: center;   
}

#modal .show {
    padding: 25px;
    width: 660px;
    height: 440px;
    border-radius: 16px;

    background: #EEEEEE;
    margin: 18vh auto; 

    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#modal.hide {
    display: none;
}

#modal .receita img {
    border-radius: 16px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#modal .receita h4 {
    margin: 20px 0 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    
}

#modal .receita p {
    color: #777777;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

#modal p {       
    color: #777777;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}