.card-text.hide {
    display: none;
}

.card-text-n.hide {
    display: none;
}

.card.shadow img {
    margin-bottom: 5px;
}

.card-text-n {
    padding-bottom: 5px;
}

.card.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.card-text-n .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto 20px;  
    
    position: relative;
}

.card-text-n img {
    height: 25px;
    margin: 0;
}

/* .card-text::before {
    content: '1';
    color: #eeeeee;
    font-size: 22px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;


    height: 50px;
    width: 50px;
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: 230px;
    top: 30px;
} */





.card-text-n .top::after {
    content: '';
    height: 40px;
    width: 1px;
    background: rgb(0, 0, 0,0.1);
    position: absolute;
    right: 50%;
}

.card-text-n .top h4 {
    /* display: flex; */
    font-size: 14px;   
    opacity: 50%; 
}


.card-text-n .top span img {
    margin: 0;
}
.card-text-n .top h4 img {
    margin-bottom: 0;
}


.card-text-n a {
    margin-top: 20px;
    font-size: 14px;
    padding: 8px 20px;
    color: #eeeeee;
    background: var(--main-color);
    border-radius: 20px;    
}
