#acessos  {
    margin: 60px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
}

.card img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    
}

.card p span  {
    color: #D54F44;
}

.card p {
    color: #777777;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
}

.cards p {
    margin-bottom: 20px;
}



